################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs/api/v16
/api/obj
/api/bin
/front/node_modules